
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


body {
  font-family: 'Times New Roman', Times, serif;

}

.profile-image{
  display: flex;
  justify-content: center;
}
p{
  display: flex;
  justify-content: center;
}

header {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: slategrey;
}
h1{
  display: flex;
  justify-content: flex-start;
  position: absolute;
}
ul{
  display: flex;
  list-style-type: none;

}

ul li a{
  padding: 0 20px;
  text-decoration: none;
  color: black;
}

li a::after{
  content: '';
  display: block;
  height: 4px;
  width: 0;
  background: rgb(16, 39, 62);
  transition: 0.5s;
}

.box {
  flex: 1 0 200px;
  padding: 30px;
  height: 300px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
.box header {
  padding: 20px;
  background: transparent;
  color: #fff;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: slategrey;
}

@media screen and (max-width: 992px) {
  header {
    background: darkblue;
  }
}


@media screen and (max-width: 768px) {
  nav {
    background-color: rgb(17, 41, 37);
  }
}

@media screen and (max-width: 576px) {
  .sample-img {
    background-color: firebrick;
  }
}
